<!doctype html>
<html>

    <head>
        <title>Bustime</title>
    </head>

    <link href='css/main.css' rel='stylesheet' type='text/css'>

    <body>
        
        <div class="displays gone"></div>

        <div class="row">

            <div class="setup">
                <div class="controls rounded">
                    <h1>Let's Get Started</h1>
                    <form>
                    </form>
                </div>
                <div class="arrow_box"></div>
                <img class="bus-icon" src="images/left-bus.svg" />
            </div>

        </div>

        <script id="display-tpl" type="text/html">
            <h1>
                <%= config.get('route').get('shortName') %> - 
                <%= config.get('route').get('longName') %>
            </h1>
            <img src="images/left-bus.svg" />
            <h1><%= config.get('stop').get('name') %></h1>
            <% if (distances) { %>
                <h1><%= distances.get('PresentableDistance') %></h1>
            <% }  %>
        </script>

        <script id="form-tpl" type="text/html">
            <div class="row line-id">
                <% if (route) { %>
                    <div class="chosen">
                        <%= route.get('shortName') %> - 
                        <%= route.get('longName') %>
                    </div>
                <% } else { %>
                    <input class="rounded" type="text" placeholder="Bus Line (e.g. B63)">
                    <button class="primary rounded disabled">Use</button>
                <% }  %>
            </div>
            <% if (route) { %>
                <div class="row stop-id">
                <% if (stop) { %>
                    <div class="chosen">
                        <%= stop.get('name').toLowerCase() %>  
                    </div>
                <% } else { %>
                    <input class="rounded" type="text" placeholder="Cross Streets?">
                    <ul class="rounded" id="stop-results"></ul>
                <% }  %>
                </div>
            <% }  %>
            <% if (route && stop) { %>
                <div class="row start">
                    <button class="submit rounded">Start Dashboard</button>
                    <p><a href="#" class="clear">clear</a></p>
                </div>
            <% }  %>
        </form>
        </script>

        <script id="stop-tpl" type="text/html">
            <li data-stop-id="<%= code %>">
                <span>
                    <%= name.toLowerCase() %>
                </span>
                <span>
                    <%= direction %>
                </span>
            </li>
        </script>

        <!-- scripts -->
        <script src='js/jquery.js'></script>
        <script src='js/underscore.js'></script>
        <script src='js/backbone.js'></script>
        <script src='js/app.js'></script>

    </body>

</html>
